.NavbarItems {
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 3.2rem;
}

/* .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
} */

.logo {
    /* margin-left: 1.5rem; */
    margin-top: .25rem;
}

/* .fa-react {
    margin-left: 0.5rem;
    font-size: 2.5rem;
} */

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 92vw;
    margin-right: 1rem;
    justify-content: end;
}

.nav-links{
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;

    /* z-index: 5; */
}

.nav-links:hover {
    background-color: #6d76f7;
    /* border-radius: 4px; */
    padding: 1.2rem 0.5rem;
    transition: all 0.3s ease;
}

.nav-links li {
    cursor: pointer;

    /* transition: 0.3s ease; */
}

.nav-links::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.nav-links:hover::after {
    width: 100%;
    transition: 0.5s;
}

.fa-bars {
    color: #fff;
}

.menu-icon {
    display: none;
}

.search-bar-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #6d76f7;
    padding: 1.25rem;
    /* margin-right: 1.5rem; */
    /* margin-left: 1rem; */
    font-size: 1.25rem;
    letter-spacing: 1px;
}

.search-bar-nav i {
    width: 20px;
    font-size: 14px;
    color: white;
}
.search-bar-nav p {
    font-size: 1.5rem;
    /* font-weight: 200; */
    color: white;
}

@media screen and (max-width: 1199px) {
    .NavbarItems {
        padding: 0 2.5rem;
    }
}

@media screen and (max-width: 991px) {
    .NavbarItems {
        padding: 0 3.2rem;
    }
    .nav-menu {
        grid-gap: 0;
    }
}

@media screen and (max-width: 768px) {
    .NavbarItems {
        position: relative;
        /* padding: 0 3.2rem; */
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 550px;
        position: absolute;
        top: 79px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        margin-right: 0;
    }

    .nav-menu.active {
        background: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #7577fa;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 120%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 1rem;
        transform: translate(-160%, 120%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .search-bar-nav {
        margin-right: 0;
        margin-left: 1rem;
    }

}

@media screen and (max-width: 360px) {
    .search-bar-nav {
        width: 120px;
    }
    .search-bar-nav i {
        font-size: 12px;
    }
    .search-bar-nav p {
        font-size: 1.25rem;
    }    
}