/* .search-page {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar button {
    width: 50px;
    height: 30px;
    background-color: gray;
} */