/* Global Styles Start Here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
:root {
    /* font sizes */
    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2rem;
    --fs-h5: 1.5rem;
    --fs-p: 1rem;
    /* colors */
    --clr-white: #ffffff;
    --clr-black: #000000;
    /* box shadow */
    --bs-black: 1px 2px 2px 1px #000000d0;
}
body {
    height: auto;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    height: auto;
    overflow-y: scroll;
    background-color: #fcfcfc;
}
.btn-home {
    position: relative;
    height: 35px;
    width: 180px;
    color: white;
    letter-spacing: 1px;
    background-color: rgb(110, 94, 254);
    padding: 0 1rem;
    border: 1px solid #6d76f7;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease;
}
.btn-home:hover {
    background-color: #6d76f7;
    transition: 0.2s ease;
}
/* Global Styles End Here */

/* Main Styles Start Here */
.main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.headline {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 62.5%;
    height: 100%;
    align-self: start;
    margin-top: 2.5rem;
    
}
.headline h4 {
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: var(--fs-h4);
}
.headline h4::before {
    content: " ";
    display: inline-block;
    margin-right: 0.7rem;
    border-left: 3px solid #47a1d8;
    height: 1.5rem;
    padding: 0;
    width: 0;
}
.headline-content {
    /* padding: 1rem;  */
    /* box-shadow: var(--bs-black); */
    background-color: #ffffff;
    height: 100%;
    /* min-height: 120vh; */
}
.headline-title h1::before {
    border-top: 1px solid #d9d9d9;
    content: "";
    display: block;
    height: 1px;
    margin-top: -1px;
    margin-bottom: 10px;
    position: absolute;
    width: 80px;
}
.headline-title p {
    margin: 1rem 0;
    font-size: var(--fs-h5);
}
.headline-title h1 {
    font-size: 3rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}
.headline-title .author,
.headline-title .source {
    font-weight: 600;
}
.headline-img {
    position: relative;
    display: flex;
}
.headline-img img {
    width: 100%;
}
.headline-text {
    font-size: 2rem;
    text-align: left;
    width: 100%;
    /* min-height: 33vh; */
}
.headline-text p {
    line-height: 32px;
}
.headline-text a {
    color: red;
    text-decoration: underline;
}
/* Main Styles end Here */

/* Sidebar Styles Start Here */
.sidebar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 100%;
    margin-top: 2.5rem;
    align-self: start;
}
.sidebar h4 {
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: var(--fs-h4);
}
.sidebar h4::before {
    content: " ";
    display: inline-block;
    margin-right: 0.7rem;
    border-left: 3px solid #47a1d8;
    height: 1.5rem;
    padding: 0;
    width: 0;
}
.sidebar ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 120vh; */
}
.sidebar ul li {
    list-style: none;
}
.sidebar ul li:nth-child(1) {
    margin-bottom: 2rem;
}
.sidebar-post {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: left;
    /* padding: 1rem; */
    /* box-shadow: var(--bs-black); */
    /* margin-bottom: 1rem; */
    background-color: #ffffff;
}
.sidebar-title p {
    font-size: 1.25rem;
    margin-top: .25rem;
}
.sidebar-title h3 {
    font-size: 1.7rem;
    margin: .5rem 0;

    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.sidebar-title h3::before {
    border-top: 1px solid #d9d9d9;
    content: "";
    display: block;
    height: 1px;
    margin-top: -2px;
    margin-bottom: 10px;
    position: absolute;
    width: 80px;
}
.sidebar-image {
    position: relative;
    display: flex;
    width: 100%;
}
.sidebar-image img {
    width: 100%;
    object-fit: contain;
}
.sidebar-text {
    font-size: 1.5rem;
    min-height: 10vh;

    
}
.sidebar-text p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.sidebar-text a {
    color: red;
    text-decoration: underline;
}
/* Sidebar Styles End Here */

/* Lower News Posts Styles Start Here */
.news-posts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.news-posts-area {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 2rem;
}
.news-posts-area h4 {
    width: 100%;
    /* margin-left: 3.5rem; */
    padding-left: 2.5%;
    text-transform: uppercase;
    font-size: var(--fs-h4);
    text-align: left;
    margin-top: 1rem;
}
.news-posts-area h4::before {
    content: " ";
    display: inline-block;
    margin-right: 0.7rem;
    border-left: 3px solid #47a1d8;
    height: 1.5rem;
    padding: 0;
    width: 0;
}
.news-posts-area ul {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
}
.news-posts-area ul li {
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: auto;
    /* box-shadow: var(--bs-black); */
    margin: 1rem 0;
    background-color: #ffffff;
}
.news-post {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: left;
    /* padding: 1rem; */
}
.news-post-title p {
    font-size: 1.25rem;
}
.news-post-title h3 {
    font-size: 1.5rem;
    padding-top: .5rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.news-post-title h3::before {
    border-top: 1px solid #d9d9d9;
    content: "";
    display: block;
    height: 1px;
    margin-top: -2px;
    margin-bottom: 10px;
    position: absolute;
    width: 80px;
}
.news-post-content {
    position: relative;
    display: flex;
    flex-direction: row;
}
.news-post-image img {
    width: 15rem;
    margin-right: 1rem;
}
.news-post-text {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-top: .5rem;
    font-size: 1.4rem;
}
.news-post-text p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* .news-post-text p span {
    color: red;
    text-decoration: underline;
} */
.news-post-text a {
    color: red;
    text-decoration: underline;
}
/* Lower News Posts Styles End Here */

/* Search Styles Start Here */
.search-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    min-height: calc(100vh - 160px);
    margin-bottom: 2rem;
}
.search-page ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
} 
.search-page ul li {
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    /* box-shadow: 2px 5px 5px 1px #000000d0; */
    margin: 1.5rem;
}
.search-page-post-content {
    position: relative;
    display: flex;
    flex-direction: row;
    /* padding: 1rem; */
}
.search-page-post-image img {
    width: 15rem;
    margin-right: 1rem;
}
.search-page-post-title p {
    font-size: 1.25rem;
}
.search-page-post-title h3::before {
    border-top: 1px solid #d9d9d9;
    content: "";
    display: block;
    height: 1px;
    margin-top: -2px;
    margin-bottom: 10px;
    position: absolute;
    width: 80px;
}
.search-page-post-title h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .5rem;

    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.search-page-post-text {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-top: .5rem;
    font-size: 1.4rem;
}
.search-page-post-text p span {
    color: red;
    text-decoration: underline;
}
.search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    width: 50%;
}
.search-bar input {
    width: 100%;
    padding: .5rem;
    outline: none;
    /* border-radius: 2px 0 0 2px; */
}
.search-bar input:focus {
    outline: none;
    border: 2px solid #6d76f7;
}
.search-bar button {
    width: 50px;
    height: 29px;
    border-radius: 0 2px 2px 0;
    background-color: #6d76f7;
    outline: none;
    border: none;
    transition: 0.2s ease;
    cursor: pointer;
}
.search-bar button:hover {
    background-color: rgb(110, 94, 254);
    transition: 0.2s ease;
}
/* Search Styles End Here */

/* Footer Styles Start Here */
.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer-links {
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
}
.footer-links ul {
    position: relative;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.footer-links ul a {
    text-decoration: none;
}
.footer-links ul li {
    margin-left: 1rem;
    margin-right: 1rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #fff;
}
/* Footer Styles End Here */

/* About Page Styles Start Here */
.about {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 140px);
    justify-content: center;
    align-items: center;
}

.about-info h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 2rem 0;
}
.about-info h2 {
    display: flex;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-left: 5rem;
    font-weight: 600;
}
.about-info h2::before {
    content: " ";
    display: inline-block;
    margin-right: 0.7rem;
    border-left: 3px solid #47a1d8;
    height: 1.25rem;
    /* padding: .5rem 0 0 0; */
    margin-top: .375rem;
    width: 0;
}
.about-info p {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 5rem;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}
.about-btn {
    margin: 2rem 0;
}
/* About Page Styles End Here */

/* Contact Page Styles Start Here */
.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 140px);
    justify-content: center;
    align-items: center;
}
.contact-info h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 1rem 0;
}
.contact-info p {
    position: relative;
    display: flex;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    text-align: left;
}
.contact-btn {
    margin: 2rem 0;
}
/* Contact Page Styles End Here */

/* Page Not Found Styles Start Here */
.page-not-found {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 78.75vh;
    width: 100%;
}
.page-not-found h1 {
    margin-bottom: 2rem;
}
/* Page Not Found Styles End Here */

/* Responsive Styles Start Here */
@media (max-width: 991px) {
    .main {
        flex-direction: column;
        width: 100%;
        /* padding: 1rem; */
        padding: 0 3.4rem;
    }
    .headline {
        width: 100%;
        /* margin: 0; */
        margin-top: 1rem;
    }
    /* .headline-content {
        margin: 0 2.5rem;
    } */
    .headline h4 {
        text-align: center;
        margin-left: 0;
        margin-top: 2rem;
    }
    .headline-title h1::before {
        margin-top: -3px;
    }
    .headline-title h1 {
        font-size: 2.25rem;
    }
    .headline-text {
        min-height: 5vh;
    }
    .headline-text p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 0;
    }
    .headline-text a {
        font-size: 1.5rem;
    }
    .sidebar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        /* margin-top: 1rem; */
        /* margin-left: 2rem;
        margin-right: 2rem; */
    }
    .sidebar ul {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .sidebar ul li {
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 50%;
        margin-bottom: 0;
    }
    .sidebar ul li:nth-child(1) {
        margin-right: 1rem;
        margin-bottom: 0;
    }
    .sidebar ul li:nth-child(2) {
        margin-left: 1rem;
    }
    .sidebar-post {
        position: relative;
        display: flex;
        justify-content: flex-start;
        /* align-items: center; */
        width: 100%;
        padding: 1rem;
    }
    /* .sidebar ul li:nth-child(1) {
        padding-right: 1rem;
    } */
    .sidebar-title h3 {
        font-size: 1.75rem;
        width: auto;
    }
    .sidebar-text {
        margin-bottom: 0;
        width: auto;
        min-height: 1vh;
    }
    .news-posts-area ul {
        padding: 0 2.5rem;
    }
    .news-posts-area ul li {
        flex-direction: column;
        width: 100%;
        margin: 1rem;
    }
    .news-post-content {
        margin-top: 0;
    }
    .news-posts-area h4 {
        text-align: center;
        margin-left: 0;
    }
}
@media (max-width: 568px) {
    .headline-title h1 {
        font-size: 1.8rem;
        line-height: 24px;
    }
    .headline-title p {
        font-size: 1.25rem;
    }
    .sidebar ul {
        flex-direction: column;
    }
    .sidebar ul li:nth-child(1) {
        padding-right: 0;
    }
    .sidebar ul li {
        width: 100%;
    }
    .sidebar ul li:nth-child(1) {
        margin-right: 0;
    }
    .sidebar ul li:nth-child(2) {
        margin-left: 0;
    }
    .sidebar-title h3 {
        font-size: 1.4rem;
    }
    /* .sidebar-text {
        font-size: 1.25rem;
    } */
    .news-post-title h3 {
        font-size: 1.4rem;
    }
    .news-post-title p {
        font-size: 1.25rem;
    }
    .footer-links ul li {
        margin-left: 0;
        margin-right: 0;
        font-size: 1.1rem;
        padding: 0.5rem;
    }
}
/* Responsive Styles End Here */