/* Global Styles Start Here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

:root {
    /* font sizes */
    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2rem;
    --fs-h5: 1.5rem;
    --fs-p: 1rem;
    /* colors */
    --clr-white: #ffffff;
    --clr-black: #000000;
    /* box shadow */
    --bs-black: 2px 5px 5px 1px #000000d0;
}

body {
    height: auto;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    height: auto;
    overflow-y: scroll;
}

.btn-home {
    position: relative;
    height: 35px;
    width: 180px;
    color: #000;
    background-color: #6d76f7;
    padding: 0 1rem;
    border: 1px solid #000;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}
/* Global Styles End Here */

/* Main Styles Start Here */
.main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}

.headline {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 62.5%;
    align-self: start;
    margin-top: 2.5rem;
}

.headline h4 {
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: var(--fs-h4);
}

.headline h4::before {
    content: " ";
    display: inline-block;
    margin-right: 0.7rem;
    border-left: 3px solid #47a1d8;
    height: 1.5rem;
    padding: 0;
    width: 0;
}

.headline-content {
    padding: 1rem; 
    box-shadow: var(--bs-black);
}

.headline-title h1 {
    font-size: 3rem;
}

.headline-img {
    position: relative;
    display: flex;
}

.headline-img img {
    width: 100%;
}

.headline-text {
    font-size: 2rem;
    text-align: left;
    width: 100%;
    /* padding: 0.5rem; */
}

.headline-text p {
    /* margin-bottom: 1.5rem; */
    line-height: 32px;
}

.headline-text p span {
    color: red;
    text-decoration: underline;
}
/* Main Styles end Here */

/* Sidebar Styles Start Here */
.sidebar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-top: 2.5rem;
}

.sidebar h4 {
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: var(--fs-h4);
}

.sidebar h4::before {
    content: " ";
    display: inline-block;
    margin-right: 0.7rem;
    border-left: 3px solid #47a1d8;
    height: 1.5rem;
    padding: 0;
    width: 0;
}

.sidebar ul li {
    list-style: none;
}

.sidebar-post {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 1rem;
    box-shadow: var(--bs-black);
    margin-bottom: 1rem;
}

.sidebar-title h3 {
    font-size: 2rem;
}

.sidebar-image {
    position: relative;
    display: flex;
    width: 100%;
}

.sidebar-image img {
    width: 100%;
    object-fit: contain;
}

.sidebar-text {
    font-size: 1.5rem;
}

.sidebar-text p span {
    color: red;
    text-decoration: underline;
}
/* Sidebar Styles End Here */

/* Lower News Posts Styles Start Here */
.news-posts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.news-posts-area {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 2rem;
}

.news-posts-area h4 {
    width: 100%;
    margin-left: 3.5rem;
    text-transform: uppercase;
    font-size: var(--fs-h4);
    text-align: left;
}

.news-posts-area h4::before {
    content: " ";
    display: inline-block;
    margin-right: 0.7rem;
    border-left: 3px solid #47a1d8;
    height: 1.5rem;
    padding: 0;
    width: 0;
}

.news-posts-area ul {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
}

.news-posts-area ul li {
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: auto;
    box-shadow: 2px 5px 5px 1px #000000d0;
    margin: 1rem 0;
}

.news-post {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 1rem;
}

.news-post-title h3 {
    font-size: 1.5rem;
}

.news-post-content {
    position: relative;
    display: flex;
    flex-direction: row;
}
.news-post-image img {
    width: 15rem;
    margin-right: 1rem;
}
.news-post-text {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: .5rem;
    font-size: 1.4rem;
}
/* .news-post-text p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
} */
.news-post-text p span {
    color: red;
    text-decoration: underline;
}
/* Lower News Posts Styles End Here */

/* Footer Styles Start Here */
.footer-links {
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
}

.footer-links ul {
    position: relative;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.footer-links ul a {
    text-decoration: none;
}

.footer-links ul li {
    margin-left: 1rem;
    margin-right: 1rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #fff;
}
/* Footer Styles End Here */

/* About Page Styles Start Here */
.about {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 78.75vh;
    justify-content: center;
    align-items: center;
}

.about-info h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 1rem 0;
}

.about-info p {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

.about-btn {
    margin: 2rem 0;
}
/* About Page Styles End Here */

/* Contact Page Styles Start Here */
.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 78.75vh;
    justify-content: center;
    align-items: center;
}

.contact-info h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 1rem 0;
}

.contact-info p {
    position: relative;
    display: flex;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    text-align: left;
}

.contact-btn {
    margin: 2rem 0;
}
/* Contact Page Styles End Here */

/* Page Not Found Styles Start Here */
.page-not-found {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 78.75vh;
    width: 100%;
}

.page-not-found h1 {
    margin-bottom: 2rem;
}
/* Page Not Found Styles End Here */

/* Responsive Styles Start Here */
@media (max-width: 991px) {
    .main {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }
    .headline {
        width: 100%;
        margin: 0;
    }
    .headline h4 {
        text-align: center;
        margin-left: 0;
    }
    .headline-title h1 {
        font-size: 2.25rem;
    }
    .headline-text p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 0;
    }
    .sidebar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 1rem;
    }
    .sidebar ul {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .sidebar ul li {
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 50%;
    }
    .sidebar-post {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 1rem;
    }
    .sidebar ul li:nth-child(1) {
        padding-right: 1rem;
    }
    .sidebar-title h3 {
        font-size: 1.75rem;
        width: auto;
    }
    .sidebar-text {
        margin-bottom: 0;
        width: auto;
    }
    .news-posts-area ul li {
        flex-direction: column;
        width: 100%;
        margin: .5rem 1rem;
    }
    .news-post-content {
        margin-top: 0;
    }
    .news-posts-area h4 {
        text-align: center;
        margin-left: 0;
    }
}
@media (max-width: 568px) {
    .headline-title h1 {
        font-size: 1.8rem;
    }
    .sidebar-title h3 {
        font-size: 1.5rem;
        
    }
    .sidebar-text {
        font-size: 1.25rem;
    }
    .news-post-title h3 {
        font-size: 1.4rem;
    }
    .news-post-title p {
        font-size: 1rem;
    }
    .footer-links ul li {
        margin-left: 0;
        margin-right: 0;
        font-size: 1.1rem;
    }
}
/* Responsive Styles End Here */